---
---  

@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import "../_sass/colors";
@import "../_sass/navbar";
@import "../_sass/cover";
@import "../_sass/card";

html, body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

footer{
    .logo {
        width: 100px; height: 100px;
    }
    li{
        a {
            color: #000;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .inline {
        li{
            display: inline;
        }  
    }
}

.ph {
    padding: 3rem !important;
    padding-right: 10rem !important;
}

.spacing{
    padding: 5em;
}


