@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$colors: (
    card-grey: #4e5056
);

@function color($color-name){
    @return map-get($colors,$color-name);
}

html, body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

footer{
    .logo {
        width: 100px; height: 100px;
    }
    li{
        a {
            color: #000;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .inline {
        li{
            display: inline;
        }  
    }
}

.bg-grey{
    background-color: rgba(0,0,0,.2);
}

.bg-card-grey {
    background-color: color(card-grey); 
    h4,p{
        color: #fff;
    }
}

.nav-active {
    background-color: rgba(255,255,255,.8);
    .nav-item {
        a{
            color: #000;
            &:hover{
                border-bottom: 3px solid #000; 
            }
        }
    }
    .nav-brand {
            color: #000;
    }
}

.navbar {
    z-index: 1030;
    .nav-item {
        padding: 1em 1em;
        a {
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .nav-brand {
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    .logo {
        width: 50px; height: 50px;
    }
}

.masthead {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: scroll;
    // margin-bottom: 2em;
    .overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: #fff; opacity: 0.5;
    }
    .site-heading {
        opacity: 1;
        padding: 4em 2em;
    }
}

.masthead-2 {
    .col {
        padding: 0 0;
    }
    #image-cover{
        width: inherit;
        height: 750px;
    }
    .site-heading{
        padding: 8em 3em 2em;
    }
}

.black {
    .nav-item {
        a{
            color: #000;
            &:hover{
                border-bottom: 3px solid #000; 
            }
        }
    }
    .nav-brand {
            color: #000;
    }
}

.white-black {
    .nav-item {
        a{
            color: #fff;
            &:hover{
                border-bottom: 3px solid #fff; 
            }
        }
    }
    .nav-brand {
            color: #000;
    }
}

.black-white {
    .nav-item {
        a{
            color: #000;
            &:hover{
                border-bottom: 3px solid #000; 
            }
        }
    }
    .nav-brand {
            color: #fff;
    }
}


.btn-black{
    background: #000;
    color: #fff;
    &:hover{
      color:#000;
      background: #fff;
    }
}

.btn-white{
    background: #fff;
    color: #000;
    &:hover{
      color:#fff;
      background: #000;
    }
}

.card {
    border: none;
    .card-img-top-100 {
        padding-top: 1em; 
        width: 100px; height: auto;
        margin-right: auto; margin-left: auto; 
    }
    .card-img-top {
        height: 300px;
    }
}

.spacing{
    padding: 5em;
}


