<footer class="pt-5 bg-grey">
    <div class="row">
        <div class="col-md-2">
            <div class="container text-center">
                <img src="{{page.baseurl}}/images/logo-vcc.jpg" class="logo">
            </div>
        </div>
        <div class="col-md-3">
            <h5>VCC - VGU Consulting Club</h5>
            <h5 class="text-muted">vmcc.club@vgu.edu.vn</h5>
            <small class="d-block mb-3 text-muted">© 2018</small>
        </div>
        <div class="col-md-2">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a href="{{page.baseurl}}/legalnote">Imprint</a></li>
                <li><a href="{{page.baseurl}}/privacy">Privacy Policy</a></li>
                <li><a href="{{page.baseurl}}/cookie">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>Partners</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#">VGU</a></li>
                <li><a type="button" data-toggle="modal" data-target="#myModal">Evaluation</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>Social</h5>
            <ul class="list-unstyled inline">
                <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5>Evaluation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSetNkZe_uF7WPH8LzGNRJtYFEssowEox__6VARjYA6UnU-gzA/viewform?embedded=true" width="640" height="475" frameborder="0" marginheight="0" marginwidth="0" id="myiframe">Loading...</iframe>
                </div>
            </div>
          </div>
        </div>
      </div>
</footer>