<nav class="navbar navbar-expand-lg transparent fixed-top {{page.style}}">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="{{page.baseurl}}/">Home</a></li>
                <li class="nav-item"><a href="{{page.baseurl}}/services">Services</a></li>
                <li class="nav-item"><a href="{{page.baseurl}}/students">Students</a></li>
                <li class="nav-item"><a href="{{page.baseurl}}/about">About Us</a></li>
                <li class="nav-item f-aw"><a href="https://www.facebook.com/VGUConsultingClub/"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
        <div class="ml-auto">
             <a href="" class="nav-brand">VCC - VGU Consulting Club</a>
             <img src="/images/logo-vcc.jpg" class="logo"/>
        </div>
    </div>
</nav>